
body
{
  font-family: Arial;
}
* 
{
  box-sizing: border-box;
}

input[type=text] 
{
height: 40px;
margin-left: -132px;
margin-bottom: 2px;
font-size: 17px;
border: 1px solid gray;
float: left;
width: 300px;
background: whitesmoke;
border-radius: 25px;
display: inline-block;
}


.signupbutton 
{
float: right;
width: 100px;
height: 50px;
background: #0add3f;
color: white;
font-size: 17px;
border: 2px solid grey;
border-left: none;
cursor: pointer;
border-radius: 0px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
border-left: 1px solid black;
}

.a
{
text-decoration: none;
color:white;
}

.morething 
{
background-color: white;
border: white;
cursor: pointer;
}



